# main config lists section to get personalty from
[default]
workflow                 = ${TEST_WORKFLOW:-TEST_CI_MRB}
notify_email             = vito@fnal.gov,mfattoru@fnal.gov
notify_email_to          = vito@fnal.gov,mfattoru@fnal.gov
notify_succeded_email_to =
notify_failed_email_to   =
notify_success           = new
notify_blame             = false
#proxy_vo                 = /fermilab/uboone
proxy_vo                 = /dune
email_extra              =
build_db_uri             = http://dbweb6.fnal.gov:8080/TestCI/app
report_logs_extra        =


### workflows ###
[TEST_CI_MRB]
experiment    = DUNE
qualifier     = ${TEST_QUALS:-e10:prof}
revision      = ${TEST_REVISION:-develop}
ci_test_lists = quick_test_ProtoDUNE
personality   = MRB
proxy_flag    = true
phases        = _eval_n checkout_x_modules _report_checkout_x_modules build unit_test install _count_citests _count_running_citests ci_tests
skip_phases   = PhaseToSkip@d14 PhaseToSkip@d15
modules       = dunetpc


[TEST_CI_MRB_GEN_REF_FILES]
experiment    = DUNE
qualifier     = ${TEST_QUALS:-e10:prof}
revision      = ${TEST_REVISION:-develop}
ci_test_lists = quick_test_ProtoDUNE_test
personality   = MRB
proxy_flag    = true
phases        = _eval_n checkout_x_modules _report_checkout_x_modules build unit_test install _count_citests _count_running_citests gen_ref_files ci_tests rename_ref_files
#skip_phases   = gen_ref_files@d14 gen_ref_files@d15 ci_tests@d14 ci_tests@d15 rename_ref_files@d14 rename_ref_files@d15
#skip_phases   = gen_ref_files@slf6 ci_tests@slf6 rename_ref_files@slf6
modules       = dunetpc

### personalities ###
[MRB]
# define what the stages, below, do:
# eval_n:
_eval1 = source /cvmfs/dune.opensciencegrid.org/products/dune/setup_dune.sh || source /grid/fermiapp/products/dune/setup_dune.sh
_eval2 = . `ups setup ups`
_eval4 = TEST_QUALS="${qualifier}"
_eval5 = `mrb newDev -f -v ${proj_PREFIX}_ci -q $TEST_QUALS | grep source`
_eval6 = source ${MRB_DIR}/bin/mrbSetEnv


# checkout_x_modules does this for each $module in $modules
checkoutdir = ${MRB_SOURCE}
checkoutcmd = mdir=`echo $module | tr - _` && mrb g -r -d $mdir -b `match_args $module "$TEST_REVISION,*@develop"` $module


# report_checkout:
_report_checkoutdir = ${MRB_SOURCE}
_report_checkoutcmd = mdir=`echo $module | tr - _` && (cd $mdir && module_repourl_git $module)


# build:
buildsetup  = echo ==========; mrbsetenv ; echo ==========; setup ninja v1_6_0a
builddir    = ${MRB_BUILDDIR}
buildcmd    = mrbsetenv && mrb b -j `getconf _NPROCESSORS_ONLN` --generator ninja


# unit_test:
# for the moment, we ignore failures so we can test the ci phase on MacOS
unit_testdir     = ${MRB_BUILDDIR}
unit_testcmd     = mrb test --sc  -j`getconf _NPROCESSORS_ONLN` --generator ninja
unit_testreport  = sed -n -e "/%/,\$p" $f

# install:
installdir     = ${MRB_TOP}
installcmd     = mrb i --sc --generator ninja

# count_citests:
_count_citestsdir   = ${MRB_TOP}
_count_citestssetup = mrbslp
_count_citestscmd   = echo -e "List of available CI tests:\n`test_runner -l`" ; echo "#Available-CI-tests: "`test_runner -l | grep -Ev "^suite |Tests in no suites" | sort | uniq | wc -l`


# count_running_citests:
_count_running_citestsdir   = ${MRB_TOP}
_count_running_citestssetup = mrbslp
_count_running_citestscmd   = echo -e "List of running CI tests:\n`test_runner -e ${TEST_TESTS:-default}`" ; echo "#Running-CI-tests: `test_runner -C ${TEST_TESTS:-default}`"

# gen_ref_files:
gen_ref_filesdir    = ${MRB_TOP}
gen_ref_filessetup  = mrbslp ; export build_timestamp=`date +%Y%m%d%H%M`
gen_ref_filescmd    = test_runner -v -u --statistics quick_test_ProtoDUNE_sequential_test
gen_ref_filesreport = cat $f | tail -n 150

# ci_tests:
ci_testsdir    = ${MRB_TOP}
ci_testssetup  = mrbslp
ci_testscmd    = test_runner -v --statistics ${TEST_TESTS:-default}
ci_testsreport = p="Test|Start|passed.*out.of|error:|ERROR:|FAILED:" ; cat $f | egrep "$p" | tail -n 150

# rename_ref_files:
rename_ref_filesdir    = ${MRB_TOP}
rename_ref_filescmd    = rename_reference_files
rename_ref_filesreport = cat $f | tail -n 150
